<div class="main">
  <div class="inner">
    <div class="form__wrapper">
      <h2 class="page-heading">💪新規トレーニング投稿💪</h2>
        <%= render partial: "muscles/form",locals: { muscle: @muscle } %>
    </div>
  </div>
</div>