<main class="main">
  <div class="inner">
    <div class="inner-main">
      <h1 class="search-title">💪検索結果💪</h1>

      <%# もし、検索結果が0でなければ表示させる。それ以外なら、メッセージを表示　%>
      <% if @results.length !=0 %>
        <div class="inner">
          <div class="card__wrapper">
            <%= render partial:"muscle", collection: @results %>
          </div>
        </div>
      <% else %>
        <h4>🙇‍♂️申し訳ございません！該当するトレーニングが見つかりませんでした！🙇‍♂️</h4>
      <% end %>
      <br>
      <%= link_to 'トップページへ戻る', root_path ,class: :top_page %>
    </div>
  </div>
</div>