<%#<%= javascript_pack_tag 'test2' %>

<main class="main">
  <div class="inner">
    <div class="inner-main">
      <div class="start-comments">
        <h2>みなさんこんにちは!!</h2>
        <p>このアプリは筋トレを始めるきっかけが与えられないかと思い作成しました！
        <p>様々な筋トレを共有することで、皆で筋トレを続けて行けたら良いなと思っています😆
      </div>
      <div class="how-tow">
        <h2 class="howtow-title">HOW-TO</h2>
        <p>まず、主な使い方として２パターンあります。</p>
        <p>１つは、自分が行いたいトレーニングをカテゴリーから探してやってみること。</p>
        <a href="https://gyazo.com/2933a162a2fc20dcf63d99bcfffa39df"><img src="https://i.gyazo.com/2933a162a2fc20dcf63d99bcfffa39df.png" alt="Image from Gyazo" width="510"/></a>
        <p>この検索の並びはいいね順になっているので、上からやるのがおすすめだったりします。</p>
        <p>もう一つは自分が考えたおすすめのトレーニングがあったら投稿することです！</p>
        <p>まず右下にあるこの「投稿する」ボタンをおします。</p>
        <a href="https://gyazo.com/8662c5577559873b12ac324939a21855"><img src="https://i.gyazo.com/8662c5577559873b12ac324939a21855.png" alt="Image from Gyazo" width="222"/></a>
        <p>次に新規投稿ページにて必要項目を入れていきます。下記の画像は一例です。</p>
        <a href="https://gyazo.com/fe720180c6ac1ef04d01eff67f64d9c2"><img src="https://i.gyazo.com/fe720180c6ac1ef04d01eff67f64d9c2.png" alt="Image from Gyazo" width="915"/></a>
        <p>※難易度は、初心者がどのように感じるかのイメージで判断してみてください。</p>
        <p>※日にちは、その日付がMYカレンダーに反映されます。</p>
        <p>「投稿日」や「トレーニング予定日」などお好きに入れてください。</p>
      </div>
      <%= link_to "早速、登録してみる！", new_user_registration_path , class: :start_muscle%>
    </div>
  </div>
</main>