<%#<%= javascript_pack_tag 'test2' %>

<main class="main">
  <div class="inner">
    <div class="inner-main">
      <div class="start-comments">
        <h1>みなさんこんにちは!!</h1>
        <h4>このアプリは筋トレを初めてやる人や、家の中でも簡単にできる筋トレを探している人に向けて作成しました。</h4>
        <h4>また、様々な筋トレを皆さんと一緒に共有することでより幅広いトレーニングをやれたらいいなと思います！<h4>
      </div>
      <div class="how-tow">
        <h1 class="howtow-title">HOW-TO</h1>
        <h4>まず、使い方として２パターンあります。１つは、自分が行いたいトレーニングをカテゴリーから探してやってみること。
        もう一つは自分が考えたおすすめのトレーニングがあったら投稿することです！</h4>
      </div>
      <%= link_to "早速、登録してみる！", new_user_registration_path %>
    </div>
  </div>
</main>